.menuBarDiv {
  width: 1600px;
  height: 50px;
  background: rgb(85, 147, 252);
  background: linear-gradient(
    180deg,
    rgba(85, 147, 252, 1) 0%,
    rgba(30, 88, 221, 1) 22%
  );
  display: flex;
  flex-direction: row;
}
.openedAppsMenuBarDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  width: 95%;
  gap: 5px;
}
.barAppIcon {
  width: 60px;
  height: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barAppIcon:hover {
  cursor: pointer;
}
.barAppIcon img {
  width: 30px;
  user-select: none;
}
