@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  scroll-behavior: smooth;
}
body {
  background-color: #303030;
}
